* {
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

.containerHeader {
  background: #006557;
  background-size: 100% 100%;
  text-align: center;
}


.container-icones{
  display: flex;
  gap: 5px;
  padding-top: 1rem;
  justify-content: end;
  margin-right: 0.5rem;
  position: relative;
}

img[alt="horario"] {
  position: absolute;
  left: 0.5rem;
}

input[type="text"] {
  background: url("src/assets/searchIcon.svg") no-repeat scroll 7px 7px;
  background-color: white;
  border:none;
  border-radius: 6px;
  padding: 8px;
  width: 75%;
  margin: 1.5rem 0 1.5rem 0;
  text-align: center;
}


.container-aviso {
 margin: 1rem 1rem 1rem 1rem;
  border: 1px solid #b19e7e;
  padding: 10px;
  text-align: right;
  border-radius: 8px;
  background: #F8F4C4 ;
  color: #AD9154;
  display:flex;
  gap: 10px;
  font-size: 14px;
}

img[alt="aviso"] {
  align-self: center;
  height: 1rem;
  width: 1rem;
 }

.containerSeuPerfil {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 1rem;
}

.containerSeuPerfil h2 {
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.containerSeuPerfil p {
  font-size: 12px;
}

.filter-blue {
  filter: invert(28%) sepia(88%) saturate(908%) hue-rotate(170deg) brightness(94%) contrast(98%);
  margin-left: 6px;
}

.fa-star {
  color:#D3D3D3;
} 

img[alt="icone de perfil"] {
  align-self: center;
  height: 18%;
  width: 18%; 
}

.estrelas {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 6px;
  
}

.completarPerfil {
  margin: 0;
  margin-top: 1rem;
  color: #257AAA;
  display: flex;
  justify-content: center;
  position: relative;
}

.completarPerfil p {
  font-weight: 600;
  font-size: 14px;
}

footer .capacitacoes {
  margin-top: 1.5rem;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

footer div h3 {
  margin-left: 1rem;
  font-weight: 600;
}

footer div span {
  font-weight: 600;
  color: #257AAA;
  font-size: 14px;
  margin-right: 1.5rem;
}

.container-img {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
  
}

.container-alimentos{ 
  position: relative;
}
.container-doses{ 
  position: relative;
}

.tipo-legenda-alimentos {
  background-color: #D48A04;
  font-size: 14px;
  color: white;
  border-radius: 4px;
  padding: 3px 12px;
  top: 5px;
  left: 0.8rem;
  position: absolute;
}

.legenda-alimentos {
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  color: white;
  bottom: 1rem;
  left: 0.8rem;
  text-align: start;
  
}

.tipo-legenda-doses {
  background-color: #48347B;
  font-size: 14px;
  color: white;
  border-radius: 4px;
  padding: 3px 12px;
  top: 5px;
  left: 0.8rem;
  position: absolute;
}

.legenda-doses {
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  color: white;
  bottom: 1rem;
  left: 0.8rem;
  text-align: start;
  margin-right: 1rem;
}

@media only screen and (max-width: 500px) {
  
  .containerSeuPerfil:after{
    content : "";
    bottom  : 0;
    
    height  : 1rem;
    width   : 90%;  /* or 100px */
    border-bottom:1px solid #D3D3D3;
  }
}

@media only screen and (max-width: 400px) {
  img[alt="alimentos"]{
    width: 150px;
    height: 130px;
  }
  img[alt="doses"]{
    width: 150px;
    height: 130px;
  }
}

@media only screen and (min-width: 500px) {
  
  h3 {
    margin-bottom: 1rem;
  }

  img[alt="icone de perfil"] {
    align-self: center;
    height: 10%;
    width: 10%; 
  }
}